APP_VERSION=DEV
RECAPTCHA_SITE_KEY=6LewAUwsAAAAAOVXC6a37SgGw4TOQa4T9JUo6wcK
LINKEDIN_URL=https://www.linkedin.com/in/devalgas-kamga/
TWITTER_URL=https://x.com/devalgas1/
GITHUB_URL=https://github.com/devalgas-k/
MEDIUM_URL=https://medium.com/@kamgadevalgas
MAIL_TO=mailto:kamgadevalga@icloud.com
PHONE_URL=tel:+23055040199
WHATSAPP_URL=https://wa.me/237699520388
